<template>
  <q-page class="tw-bg-slate-100 tw-flex tw-justify-center"
          padding>
    <div class="tw-mt-4 tw-px-4 tw-w-full tw-max-w-md">
      <div v-if="(userFirestoreData?.linkedWithEmailLink) && showCardLinkDispositives"
           class="tw-bg-white tw-rounded-md">
        <div class="tw-flex tw-justify-between tw-items-center tw-pl-4">
          <div class="tw-font-semibold tw-text-base">Outros dispositivos</div>
          <q-btn class="q-remove-button-hover tw-w-10 tw-h-10"
                 flat
                 icon="
                 close"
                 :ripple="false"
                 size="8px"
                 unelevated
                 @click="showCardLinkDispositives = false"></q-btn>
        </div>

        <div class="tw-px-4 tw-pb-4">
          <div class="tw-text-xs tw-px-4">
            Atualmente o usuário só pode ser acessado por esse dispositivo ou gerando outro link mágico.
          </div>

          <div class="tw-flex tw-gap-2 tw-pt-8">
            <ButtonAlternateProvider class="tw-text-gray-700 before:tw-border-gray-700"
                                     :provider="alternateProviders[0]"></ButtonAlternateProvider>
            <ButtonAlternateProvider class="before:tw-border-gray-700 before:tw-border-1"
                                     :provider="alternateProviders[1]"></ButtonAlternateProvider>

          </div>
        </div>
      </div>

      <div v-if="!userFirestoreData?.emailVerified && showCardVerifiedEmail"
           class="tw-bg-white tw-rounded-md">
        <div class="tw-flex tw-justify-between tw-items-center tw-pl-4">
          <div class="tw-font-semibold tw-text-base">E-mail não verificado!</div>
          <q-btn class="q-remove-button-hover tw-w-10 tw-h-10"
                 flat
                 icon="
                 close"
                 :ripple="false"
                 size="8px"
                 unelevated
                 @click="showCardVerifiedEmail = false"></q-btn>
        </div>

        <div class="tw-px-4 tw-pb-4">
          <div class="tw-text-xs tw-px-4">
            Verifique seu e-mail para garantir a proteção da sua conta e dos seus dados pessoais, a verificação é simples
            e rápida, e isso nos ajudará a manter suas informações pessoais protegidas contra qualquer atividade suspeita.
          </div>

          <div class="tw-flex tw-justify-center">
            <q-btn class="tw-mt-4 tw-rounded-lg tw-text-md tw-text-amber-800 before:tw-border-amber-800 before:tw-border-2"
                   no-caps
                   type="submit"
                   unelevated
                   @click="sendEmailVerification">
              <div class="tw-pr-3">
                Verificar E-mail
              </div>
              <q-icon name="send"></q-icon>
            </q-btn>
          </div>
        </div>
      </div>

      <q-btn @click="signOut()">Out</q-btn>
    </div>

  </q-page>
</template>

<script lang="ts">
import { AlternativeLogin } from '@/components/models';
import ButtonAlternateProvider from 'components/ButtonAlternateProvider.vue';
import { userStore } from 'stores/user';
import { defineComponent, ref } from 'vue';

export default defineComponent({
  components: { ButtonAlternateProvider },
  name: 'DashboardPage',
  setup() {
    const userStoreInstance = userStore();
    const showCardLinkDispositives = ref(true)
    const showCardVerifiedEmail = ref(true)
    const alternateProviders: AlternativeLogin[] = [{ alt: '', click: () => undefined, name: 'Email e senha', src: 'lock', type: 'icon' }, { alt: 'Google Logo', click: userStoreInstance.linkAccountWithGoogle, name: 'Google', src: '/icons/google-icon.svg', type: 'img' },
    ]

    return { alternateProviders, sendEmailVerification: userStoreInstance.sendEmailVerification, showCardLinkDispositives, showCardVerifiedEmail, signOut: userStoreInstance.signOut, user: userStoreInstance.user, userFirestoreData: userStoreInstance.userFirestoreData }
  },
})
</script>
