<template>
  <q-page>
    Recuperar senha
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'RecoverPasswordPage'
})
</script>
