<template >
  <q-page class="tw-bg-slate-100 tw-flex tw-items-center">
    <q-form autocomplete="off"
            class="tw-px-4 tw-w-full"
            novalidate
            @submit="createUserWithEmailAndPassword()">
      <q-input v-model="usernameInput"
               aria-label="Digite seu email"
               autocapitalize="off"
               autocomplete="username"
               autocorrect="off"
               autofocus
               bg-color="white"
               color="blue"
               input-class="tw-px-4 tw-font-bold tw-placeholder-slate-500 tw-text-slate-800"
               inputmode="email"
               outlined
               placeholder="E-mail"
               :rules="[val => val && val.length > 0 || 'O usuário não pode estar vazio', val => isEmailValid(val)]"
               spellcheck="false"
               type="email"></q-input>

      {{ isEmailValid(usernameInput) }}

      <q-input v-model="passwordInput"
               aria-label="Digite sua nova senha"
               autocapitalize="off"
               autocomplete="new-password"
               autocorrect="off"
               bg-color="white"
               class="tw-mt-4 q-remove-input-pr"
               color="blue"
               input-class="tw-px-4 tw-font-bold tw-placeholder-slate-500 tw-text-slate-800"
               inputmode="text"
               outlined
               placeholder="******"
               :rules="[val => val && val.length > 0 || 'A senha não pode estar vazia', val => val.length > 5 || 'A senha precisa conter no mínimo 6 caracteres']"
               spellcheck="false"
               :type="getVisibilityStatusType(isPasswordVisible)">
        <template #append>
          <q-btn class="tw-h-full tw-text-slate-500 tw-rounded-r-lg"
                 :icon="getVisibilityStatusIcon(isPasswordVisible)"
                 :title="'Change password visibility, currently: ' + (isPasswordVisible ? 'visible.' : 'not visible.')"
                 unelevated
                 @click="changePasswordVisibility()"></q-btn>
        </template>
      </q-input>

      <div class="tw-w-full tw-text-right">
        <q-btn class="tw-p-0 tw-mt-4 tw-text-slate-700 tw-underline tw-font-bold tw-text-sm hover:tw-text-blue-900"
               no-caps
               unelevated
               @click="$router.push({ name: 'user/sign-in' })">Já possui cadastro?</q-btn>
      </div>

      <q-btn class="tw-mt-6 tw-w-full tw-h-12 tw-rounded-lg tw-text-lg  tw-bg-amber-300"
             no-caps
             type="submit">Registrar</q-btn>

      <AlternateProvidersLoginComponent class="tw-mt-16"></AlternateProvidersLoginComponent>
    </q-form>
  </q-page>
</template>

<script lang="ts">
import AlternateProvidersLoginComponent from 'components/AlternateProvidersLoginComponent.vue';
import { IsEmailValid } from 'src/utils';
import { userStore } from 'stores/user';
import { Ref, defineComponent, onMounted, ref } from 'vue';

export default defineComponent({
  components: { AlternateProvidersLoginComponent },
  name: 'SignUpPage',
  setup() {
    interface AlternativeLogin {
      alt: string,
      click: () => void,
      name: string,
      src: string
    }

    const userStoreInstance = userStore();
    let usernameInput: Ref<string> = ref('natajdacoliveira@gmail.com')
    let passwordInput: Ref<string> = ref('123123')
    let isPasswordVisible: Ref<boolean> = ref(false)

    const alternativeProviders: AlternativeLogin[] = [
      { alt: 'Google Logo', click: () => { return }, name: 'Google', src: '/icons/google-icon.svg' },
      { alt: 'Apple Logo', click: () => { return }, name: 'Apple', src: '/icons/apple-icon.svg' }
    ]

    const createUserWithEmailAndPassword = async () => {
      await userStoreInstance.createUserWithEmailAndPassword(usernameInput.value, passwordInput.value)
    }

    const getVisibilityStatusIcon: (isPasswordVisible: boolean) => 'visibility' | 'visibility_off' = (isPasswordVisible: boolean) => {
      return isPasswordVisible ? 'visibility' : 'visibility_off'
    }

    const getVisibilityStatusType: (isPasswordVisible: boolean) => 'text' | 'password' = (isPasswordVisible: boolean) => {
      return isPasswordVisible ? 'text' : 'password'
    }

    const changePasswordVisibility: () => void = () => {
      isPasswordVisible.value = !isPasswordVisible.value
    }

    onMounted(() => {
      console.log('here')
      usernameInput.value = localStorage.getItem('emailForSignIn') || usernameInput.value;
    })

    return { alternativeProviders, changePasswordVisibility, createUserWithEmailAndPassword, getVisibilityStatusIcon, getVisibilityStatusType, isEmailValid: IsEmailValid, isPasswordVisible, passwordInput, usernameInput };
  },
})
</script>
