<template>
  <q-page class="tw-bg-slate-100 tw-flex tw-justify-center">
    <q-form class="dissertando-content-gap tw-px-4 tw-w-full tw-max-w-md"
            novalidate
            @submit="submitForm">
      <q-input v-if="!isEmailLinkSent"
               ref="refEmailInput"
               v-model="modelEmailInput"
               aria-label="Digite seu email"
               autocapitalize="off"
               :autocomplete="isSignInWithPasswordSelected ? 'username' : 'email'"
               autocorrect="off"
               autofocus
               bg-color="white"
               class="q-primary-input tw-mt-4"
               color="blue"
               dense
               input-class="tw-px-4 tw-font-bold tw-placeholder-slate-500 tw-text-slate-800"
               inputmode="email"
               name="email"
               outlined
               placeholder="E-mail"
               :rules="[val => val && val.length > 0 || 'O email não pode estar vazio', val => isEmailValid(val) || 'O e-mail é inválido']"
               spellcheck="false"
               type="email"></q-input>

      <q-tab-panels v-model="modelLoginTab"
                    :animated="false"
                    class="tw-bg-transparent">
        <q-tab-panel class="tw-p-0"
                     name="default">
          <q-btn class="tw-mt-4 tw-pr-8 tw-w-full tw-rounded-sm tw-text-md tw-bg-white tw-text-gray-600 before:tw-border-gray-600 before:tw-border-2"
                 :disabled="isLoading"
                 no-caps
                 unelevated
                 @click="selectedPasswordTab">
            <div class="tw-ml-auto tw-mr-2">
              Entrar com senha
            </div>
            <q-icon class="tw-ml-auto"
                    name="lock"></q-icon>
          </q-btn>

          <q-btn class="tw-mt-4 tw-pr-8 tw-w-full tw-rounded-sm tw-text-md tw-bg-white tw-text-gray-600 before:tw-border-gray-600 before:tw-border-2"
                 :disabled="isLoading"
                 no-caps
                 type="submit"
                 unelevated>
            <span class="tw-ml-auto tw-mr-2 max-[400px]:tw-max-w-[170px]">
              Receber link mágico por e-mail
            </span>
            <q-img class="tw-ml-auto"
                   src="/icons/magic-link.svg"
                   width="24px"></q-img>
          </q-btn>

          <q-btn class="tw-mt-4 tw-pr-8 tw-w-full tw-rounded-sm tw-text-md tw-bg-white tw-text-gray-600 before:tw-border-gray-600 before:tw-border-2"
                 :disabled="isLoading"
                 no-caps
                 unelevated
                 @click="signInWithGoogle">
            <div class="tw-ml-auto tw-mr-2">
              Entrar com Google
            </div>
            <q-img class="tw-ml-auto"
                   src="/icons/google-icon.svg"
                   width="24px"></q-img>
          </q-btn>
        </q-tab-panel>

        <q-tab-panel class="tw-p-0"
                     name="password">
          <q-input ref="refPasswordInput"
                   v-model="modelPasswordInput"
                   aria-label="Digite sua senha"
                   autocapitalize="off"
                   autocomplete="current-password"
                   autocorrect="off"
                   bg-color="white"
                   class="q-primary-input q-remove-input-pr"
                   color="blue"
                   dense
                   input-class="tw-px-4 tw-font-bold tw-placeholder-slate-500 tw-text-slate-800"
                   inputmode="text"
                   name="password"
                   outlined
                   placeholder="******"
                   :rules="[val => val && val.length > 0 || 'A senha não pode estar vazia', val => val.length > 5 || 'A senha precisa conter no mínimo 6 caracteres']"
                   spellcheck="false"
                   :type="getInputTypePassword(isPasswordVisible)">
            <template #append>
              <q-btn class="tw-h-full tw-text-slate-500 tw-rounded-r-lg"
                     :icon="getInputVisibilityIconPassword(isPasswordVisible)"
                     :title="'Change password visibility, currently: ' + (isPasswordVisible ? 'visible.' : 'not visible.')"
                     unelevated
                     @click="isPasswordVisible = !isPasswordVisible"></q-btn>
            </template>
          </q-input>

          <div class="tw-w-full tw-text-right">
            <q-btn class="tw-p-0 tw-text-slate-700 tw-underline tw-font-bold tw-text-sm hover:tw-text-blue-900"
                   no-caps
                   unelevated
                   @click="$router.push({ name: 'user/recover-password' })">Esqueceu sua senha?</q-btn>
          </div>

          <q-btn class="tw-mt-2 tw-w-full tw-rounded-sm tw-text-sm tw-bg-amber-300"
                 :disabled="isLoading"
                 no-caps
                 type="submit"
                 unelevated>Continuar</q-btn>

          <q-btn class="tw-mt-4 tw-w-full tw-text-sm tw-text-amber-600"
                 :disabled="isLoading"
                 no-caps
                 unelevated
                 @click="selectedDefaultTab">Escolha outro método de login</q-btn>
        </q-tab-panel>

        <q-tab-panel name="emailLinkSent">
          <div class="tw-text-center tw-p-4 tw-bg-white tw-rounded-md">
            <q-img height="64px"
                   src="/mail-with-star-svgrepo-com.svg"
                   width="64px"></q-img>

            <div class="tw-pt-4">
              <div class="tw-font-semibold">
                Link mágico enviado para
              </div>

              <div class="tw-break-words tw-text-center tw-text-lg tw-font-extrabold tw-text-green-700">
                {{ modelEmailInput }}
              </div>

              <div class="tw-mt-6 tw-text-center tw-font-mono tw-text-xs">
                Confira a caixa de entrada do seu e-mail.
              </div>
            </div>
          </div>

          <q-btn class="tw-mt-4 tw-w-full tw-text-sm tw-text-amber-600"
                 :disabled="isLoading"
                 no-caps
                 unelevated
                 @click="selectedDefaultTab">Escolha outro método de login</q-btn>
        </q-tab-panel>
      </q-tab-panels>


      <div class="tw-mt-12 tw-text-slate-700 tw-text-center tw-font-bold tw-text-xs">Não possui cadastro?
        <q-btn class="q-remove-button-hover tw-p-0 tw-text-xs tw-text-blue-600 hover:tw-text-blue-900"
               flat
               no-caps
               :ripple="false"
               @click="$router.push({ name: 'user/sign-up' })">&nbsp;Registre-se agora</q-btn>
      </div>
    </q-form>
  </q-page>
</template>

<script lang="ts">
import { QInput } from 'quasar';
import { GetInputTypePassword, GetInputVisibilityIconPassword, IsEmailValid } from 'src/utils';
import { userStore } from 'stores/user';
import { Ref, computed, defineComponent, onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
export default defineComponent({
  name: 'SignIn',
  setup() {
    const userStoreInstance = userStore();

    let modelEmailInput: Ref<string> = ref('')
    let modelPasswordInput: Ref<string> = ref('')
    let modelLoginTab: Ref<string> = ref('default')

    let isPasswordVisible: Ref<boolean> = ref(false)
    const isEmailLinkHref = - userStoreInstance.isEmailLinkHref
    let isLoading: Ref<boolean> = ref(false)
    let isSignInWithPasswordSelected: Ref<boolean> = computed(() => modelLoginTab.value === 'password')
    let isEmailLinkSent: Ref<boolean> = computed(() => modelLoginTab.value === 'emailLinkSent')

    const refPasswordInput: Ref<QInput | null> = ref(null)
    const refEmailInput: Ref<QInput | null> = ref(null)

    const signInWithGoogle = async () => {
      await userStoreInstance.signInWithGoogle()
    }

    const selectedDefaultTab = () => {
      modelLoginTab.value = 'default';
      modelPasswordInput.value = ''
    }

    const selectedPasswordTab = () => {
      const isValid = refEmailInput.value?.validate()
      if (!isValid) return
      modelLoginTab.value = 'password';
    }

    const submitForm = async () => {
      const isValid = refEmailInput.value?.validate()
      if (!isValid) return
      isLoading.value = true
      if (isSignInWithPasswordSelected.value) {
        await userStoreInstance.signInWithEmailAndPassword(modelEmailInput.value, modelPasswordInput.value);
      } else {
        await userStoreInstance.sendEmailLink(modelEmailInput.value);
        modelLoginTab.value = 'emailLinkSent';
      }


      isLoading.value = false
    }

    onMounted(async () => {
      const route = useRoute();
      if (route.query.signInWithEmailLink || route.query.loginWithEmailLink) {
        modelEmailInput.value = localStorage.getItem('emailForSignIn') || modelEmailInput.value;
        // TODO VALIDATION OF EMAIL INPUT BEFORE
        await userStoreInstance.signInWithEmailLink(modelEmailInput.value, location.href)
      }
    })

    return {
      getInputTypePassword: GetInputTypePassword, getInputVisibilityIconPassword: GetInputVisibilityIconPassword, isEmailLinkHref, isEmailLinkSent, isEmailValid: IsEmailValid, isLoading, isPasswordVisible, isSignInWithPasswordSelected, modelEmailInput, modelLoginTab, modelPasswordInput, refEmailInput, refPasswordInput, selectedDefaultTab, selectedPasswordTab, signInWithGoogle, submitForm
    };
  }
});
</script>
