<template>
  <div>
    <div class="tw-text-center">
      <div class="tw-text-xs tw-p-0 tw-mt-4 tw-text-slate-700 tw-font-bold">{{ text || 'Também acesse com' }}</div>
    </div>

    <div class="tw-mt-2 tw-flex tw-justify-center">
      <div class="tw-flex tw-justify-center tw-gap-4">
        <q-btn v-for="(provider) in alternativeProviders"
               :key="provider.name"
               :aria-label="'Realizar o login com: ' + provider.name"
               class="tw-py-2 tw-px-4 before:tw-border-white before:tw-border-2 tw-rounded-lg"
               :icon="provider.type === 'icon' ? provider.src : undefined"
               outline
               size="19px"
               @click="provider.click">
          <q-img v-if="provider.type === 'img'"
                 :alt="provider.alt"
                 class="tw-h-8 tw-w-8"
                 :src="provider.src"></q-img>
        </q-btn>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { userStore } from 'stores/user'
import { PropType, defineComponent } from 'vue'
import { AlternativeLogin } from './models'

export default defineComponent({
  name: 'AlternateProvidersLoginComponent',
  props: {
    providers: {
      default: () => [] as AlternativeLogin[],
      type: Array as PropType<AlternativeLogin[]>
    },
    text: {
      default: '',
      type: String
    }
  },
  setup(props) {
    const signInWithGoogle = async () => {
      const userStoreInstance = userStore()
      await userStoreInstance.signInWithGoogle()
      return
    }


    const alternativeProviders: AlternativeLogin[] = [
      ...props.providers,
      { alt: 'Google Logo', click: signInWithGoogle, name: 'Google', src: '/icons/google-icon.svg', type: 'img' },
      // { alt: 'Apple Logo', click: signInWithApple, name: 'Apple', src: '/icons/apple-icon.svg', type: 'img' },
    ]

    return { alternativeProviders }
  },
})
</script>
