<template>
  <q-btn v-if="provider"
         :aria-label="'Realizar o login com: ' +
           provider.name"
         class="tw-py-2 tw-px-4 before:tw-border-white before:tw-border-2 tw-rounded-lg"
         :icon="provider.type === 'icon' ? provider.src : undefined"
         outline
         size="19px"
         @click="provider.click">
    <q-img v-if="provider.type === 'img'"
           :alt="provider.alt"
           class="tw-h-8 tw-w-8"
           :src="provider.src"></q-img>
  </q-btn>
</template>

<script lang="ts">
import { PropType, defineComponent } from 'vue';
import { AlternativeLogin } from './models';

export default defineComponent({
  name: 'ButtonAlternateProvider',
  props: {
    provider: {
      default: undefined,
      // Same shit as
      //type: Object as PropType<AlternativeLogin>
      type: <PropType<AlternativeLogin>>Object
    },
  },
})

</script>
