<template>
  <router-view />
</template>

<script lang="ts">
import { Notify } from 'quasar';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'App',
  setup() {
    Notify.setDefaults({ group: false, position: 'top' });
  },
});
</script>

