<template>
  <q-layout view="lHh Lpr lFf">
    <q-toolbar class="tw-bg-yellow-400">
      <q-btn dense
             flat
             icon="menu"
             round />
      <q-toolbar-title>
        Dissertando
      </q-toolbar-title>
      <q-btn dense
             flat
             icon="more_vert"
             round />
    </q-toolbar>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'MainLayout',

  setup() {
    const leftDrawerOpen = ref(false)

    return {
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
});
</script>
